<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MENU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-card>
      <ion-button expand="block" fill='outline' (click)="abrirCadastro()">Cadastro</ion-button>
      <ion-button expand="block"  fill='outline' (click)="abrirPagar()">Contas a Pagar</ion-button>
      <ion-button expand="block"  fill='outline' (click)="abrirReceber()">Contas a Receber</ion-button>
    </ion-card>
  </ion-content>
</ion-content>
